extends layout 

block content 
    h2.glowny= title 

    form(method='POST' action='')
        div.form-group
            label(for='name') Nazwa:
            input#name.form-control(type='text', placeholder='np. Urządzenia do czyszczenia', name='name', required= 'true', value=(undefined===result ? '' : result.name))
            
            label(for='freeText') Dodatkowy opis:
            input#freeText.form-control(type='text', name='freeText', value=(undefined===result ? '' : result.description))
        button.btn.btn-primary(type='submit') Zapisz
    if errors
        ul
            for error in errors
                li!= error.msg

    script.
        const activateSubMenu = document.querySelector('#deviceSubMenu')
        activateSubMenu.className+=" active"
