doctype html
head
  // copypasta do laczenia htmlow w jeden
  meta(charset='utf-8')
  meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
  title My page title
  link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous")
  link(rel='stylesheet' href='/stylesheets/style.css')
  // the below three lines are a fix to get HTML5 semantic elements working in old versions of Internet Explorer
  //if lt IE 9
    script(src='https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js')
body 
  header 
    nav.navbar.navbar-dark.navbar-expand-lg.gestamp-bg-color.fixed-top
      a.navbar-brand(href='/api/raporty')
        img.d-inline-block.mr-1.align-bottom(alt='look at me, im logo now' src="https://www.gestamp.com/Gestamp11/media/GestampFiles/Logo-Gestamp-(white)02.svg" height='40')

      button.navbar-toggler(type="button" data-toggle="collapse" data-target="#topNavBar" aria-controls="#topNavBar" aria-expanded="false" aria-label="Przełącznik nawigacji")
        span.navbar-toggler-icon
    
      div.collapse.navbar-collapse(id="topNavBar") 
        ul.navbar-nav
          il.nav-item
            a.nav-link#myRaport(href="/api/raporty/moj-raport") Mój Raport 

          il.nav-item
            a.nav-link#mainHistory(href="/api/raporty") Historia

          il.nav-item.dropdown
            a.nav-link.dropdown-toggle#deviceSubMenu(href="#" data-toggle="dropdown" role="button" aria-button="false" aria-haspopup="true") Zarządzaj urządzeniami

            div.dropdown-menu(aria-labelledby="deviceSubMenu")
              a.dropdown-item#deviceListActive(href='/api/urzadzenia') Lista urządzeń
              a.dropdown-item#deviceAddActive(href='/api/urzadzenia/dodaj') Dodaj urządzenie

              div.dropdown-divider(aria-labelledby="deviceSubMenu")
              a.dropdown-item#productionLineListActive(href='/api/linie-produkcyjne') Lista linii produkcyjnych
              a.dropdown-item#productionLineAddActive(href='/api/linie-produkcyjne/dodaj') Dodaj linię produkcyjną

              div.dropdown-divider(aria-labelledby="deviceSubMenu")
              a.dropdown-item#deviceTypeListActive(href='/api/typy-urzadzen') Lista typów urządzeń
              a.dropdown-item#deviceTypeAddActive(href='/api/typy-urzadzen/dodaj') Dodaj typ urzadzenia

          il.nav-item.dropdown
            a.nav-link.dropdown-toggle#userSubMenu(href="#" data-toggle="dropdown" role="button" aria-button="false" aria-haspopup="true") Zarządzaj zespołem

            div.dropdown-menu(arialabelledby="userSubMenu")
              a.dropdown-item#userAddActive(href='/api/uzytkownicy/dodaj') Dodaj użytkownika
              a.dropdown-item#userListActive(href='/api/uzytkownicy') Lista Użytkowników
              div.dropdown-divider(aria-labelledby="userSubMenu")
              a.dropdown-item#userShiftsActive(href='/api/zmiany') Zarządzanie zmianami
        


          il.nav-item.dropdown
            a.nav-link.dropdown(href="#") Znajdź raport/awarię

  div.container-fluid.pt-5
    div.row 
        //- div.col-xl-2.col-lg-4.col-md-12.col-sm-12.my-2
        //-   p.nice-border TUTAJ BĘDĄ PRACE PLANOWANE ... ALBO COŚ INNEGO JESZCZE NIE WIEM 
 
        div.col.my-2
          main
            block content 

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>


    footer
      p Created by student with deams


