extends layout

block content
  div(class="col mx-md-5 my-5")
    h1.pb-3 Usuń Operację: 
     h1 #[strong #{operation.name}]

    p.mt-5.h4 Czy na pewno chcesz usunąć tą Operację?

    form(method='POST' action='')
      div.form-group
        input#operationid.form-control(type='hidden',name='operationid', required='true', value=operation._id )

      button.btn.btn-danger(type='submit') Usuń

  script.
    const activateLink = document.querySelector('#operationListActive')
    activateLink.className+=" active"
    const activateSubMenu = document.querySelector('#deviceSubMenu')
    activateSubMenu.className+=" active"
