extends layout

block content
   div(class="col mx-md-5 my-5")
      h1 #{title}

      form(method='POST' action='')
            div.form-group
                label(for='name') Nazwa Operacji:
                input#name.form-control(type='text' name='name' value=(undefined===operation ? '' : operation.name))
                label(for='freeText') Dodatkowy opis:
                input#freeText.form-control(type='text', name='freeText')
            button.btn.btn-primary(type='submit') Zapisz
      if errors
         ul
            for error in errors
               li!=error.msg

   script.
      const activateLink = document.querySelector('#operationListActive')
      activateLink.className+=" active"
      const activateSubMenu = document.querySelector('#deviceSubMenu')
      activateSubMenu.className+=" active"
