extends layout 

block content 
    h2.glowny= title 

    ul 
        for result in list
            li
                p
                    a(href=result.url) #{result.name} 
        else 
            li Nie znaleziono żadnych użytkowników

    if errors
        ul
            for error in errors
                li!= error.msg

    script.
        const activateSubMenu = document.querySelector('#userSubMenu')
        activateSubMenu.className+=" active"
        const activateLink = document.querySelector('#userListActive')
        activateLink.className+=" active"
                
               