/* CSS FOR BOOTSTRAP STARTS HERE */
.logInBox {
  border: 3px solid #01426a;
  border-radius: 10px;
  background-color: #dbf5ff;
}
.raportTableTitle {
  background-color: #01426a;
  color: white;
  border-radius: 5px;
  width: 100%;
  font-size: 19px;
}

.gestamp-bg-color {
  background-color: #01426a;
}
.nice-border {
  border: 3px solid #01426a;
  border-radius: 15px;
  padding: 10px;
}
.nice-shifts-border {
  border: 2px solid #01426a;
  border-radius: 15px;
  padding: 15px;
  height: 200px;
}
.no-ul-style {
  height: 300px;
  list-style-type: none;
}
.no-ul-style li input {
  margin-right: 4px;
}

/* CSS AFTER BOOTSTRAP ENDS HERE */

/* UMFY */
body {
  font-family: 'Open Sans', sans-serif;
}

.bg-gestampblue {
  background-color: #01426a;
}

.table caption {
  caption-side: top;
  text-align: center;
}

.table-umfy td {
  padding: 0.2rem;
}
.table-umfy th {
  padding: 0.4rem;
}

.umfy-ghost-table {
  margin: 0px;
}
.umfy-table-separator {
  border-bottom: 2px solid rgb(200, 200, 200) !important;
}

.umfy-td-border {
  border: 1px solid #dee2e6;
}

.umfy-btn {
  width: 85px;
}

input[type='time'] {
  width: 100px;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
}
.umfy-card-body {
  padding: 0px;
}

.umfy-clock {
  margin-top: 14px;
  margin-bottom: 145px;
}

.page {
  position: relative;
  overflow: hidden;
  padding: 0.3in;
  padding-right: 0.8in;
  padding-left: 0.8in;
  break-inside: avoid;
}

.padding0 {
  padding: 0 !important;
}
.padding0 a {
  display: block;
  padding: 10px;
}

.dark-header-hover > thead > tr:hover {
  background-color: #343a40; /* Assuming you want the hover color to be white */
}

a.white-link {
  color: white;
  text-decoration: none;
}
a.black-link {
  color: black;
  text-decoration: none;
}
a.red-link {
  color: #dc3545;
  text-decoration: none;
}
a.green-link {
  color: #28a745;
  text-decoration: none;
}

.clock {
  height: 6rem;
  width: 30rem;
  line-height: 100px;
  margin: 50px auto 0;
  padding: 0 50px;
  background: #343a40;
  color: #eee;
  text-align: center;
  border-radius: 10px;
}

#external-events {
  height: 80vh;
  overflow: scroll;
  margin-top: 45px;
  left: 20px;
  top: 20px;
  width: 180px;
  padding: 0 10px;
  border: 1px solid #ccc;
  background: #eee;
  text-align: left;
}

#external-events h4 {
  font-size: 16px;
  margin-top: 0;
  padding-top: 1em;
}

#external-events .fc-event {
  margin: 3px 0;
  cursor: move;
}

#external-events p {
  margin: 1.5em 0;
  font-size: 11px;
  color: #666;
}

#external-events p input {
  margin: 0;
  vertical-align: middle;
}

#calendar-wrap {
  margin-left: 20px;
}

#calendar {
  max-width: 1100px;
  margin: 0 auto;
}

@media (max-width: 575px) {
  .clock {
    height: 12rem;
    width: 18rem;
    line-height: 100px;
    margin: 50px auto 0;
    padding: 0 50px;
    background: #343a40;
    color: #eee;
    text-align: center;
    border-radius: 10px;
  }
}
